// ----------- BUTTON RESET

button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  width: auto;
}

// ----------- BUTTON STYLES

.btn {
  border-radius: 0.375em;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  cursor: pointer;
  padding: 1ex 1em;

  // ---- DEFAULT STYLES

  background: $color-default;
  color: #3f3f3f;

  &:hover {
    background: darken($color-default, 10%);
  }

  // -------------- ICON SPACING

  .material-design-icon + span,
  span + .material-design-icon {
    margin-left: 0.25em;
  }

  // -------------- COLOR

  &--color {
    @mixin buttonColorStyles($color) {
      background: $color;
      color: #ffffff;

      &:hover {
        background: darken($color, 10%);
      }
    }

    &-primary {
      @include buttonColorStyles($color-primary);
    }

    &-secondary {
      @include buttonColorStyles($color-secondary);
    }

    &-danger {
      @include buttonColorStyles($color-danger);
    }
  }

  // -------------- VARIANTS

  &--variant {
    &-outline {
      @mixin buttonOutlineStyles($color) {
        background: none;
        box-shadow: 0 0 0 1px $color inset;
        color: $color;

        &:hover {
          background: rgba($color, 0.1);
        }
      }

      &[class$="color-default"] {
        @include buttonOutlineStyles($color-default);
        color: inherit;
      }

      &[class$="color-primary"] {
        @include buttonOutlineStyles($color-primary);
      }

      &[class$="color-secondary"] {
        @include buttonOutlineStyles($color-secondary);
      }

      &[class$="color-danger"] {
        @include buttonOutlineStyles($color-danger);
      }
    }

    &-text {
      @mixin buttonTextStyles($color) {
        background: none;
        box-shadow: none;
        color: $color;

        &:hover,
        &:focus {
          background: rgba($color, 0.1);
        }
      }

      &[class$="color-default"] {
        @include buttonTextStyles($color-default);
        color: inherit;
      }

      &[class$="color-primary"] {
        @include buttonTextStyles($color-primary);
      }

      &[class$="color-secondary"] {
        @include buttonTextStyles($color-secondary);
      }

      &[class$="color-danger"] {
        @include buttonTextStyles($color-danger);
      }
    }
  }

  // -------------- SIZES

  &--size {
    &-sm {
      font-size: 0.75em;
    }

    &-md {
      font-size: 0.875em;
    }

    &-lg {
      font-size: 1.125em;
    }
  }

  // -------------- NO SHADOW

  &--no-shadow {
    box-shadow: none;
  }

  // -------------- DISABLED

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    position: relative;
  }
}
