@mixin placeholderColor($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}

// -------- INPUT STYLE

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #828282;
  border-radius: 8px;
  padding: 1em;
  outline: none;
  font: inherit;
  color: $color-input;

  &:hover {
    border-color: $color-input;
  }

  &:focus {
    border-color: $color-primary;
  }

  &[disabled] {
    background: #f2f2f2;
    border: 1px solid #e0e0e0;
  }

  @include placeholderColor(#828282);
}

textarea {
  resize: vertical;
  min-height: 5em;
  height: 10em;
}

// -------- FORM GROUP STYLES

.form-group {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 1.5em;
  $this: &;

  &__label {
    color: $color-input;
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

  &__input-container {
    font-size: 0.875rem;
    position: relative;

    input,
    textarea {
      width: 100%;
    }
  }

  &__help {
    font-size: 0.75rem;
    color: lighten($color-input, 30%);
  }

  // ---------- ICON POSITION

  .material-design-icon {
    color: lighten($color-input, 30%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  // ---------- SIZING

  &--size {
    @mixin inputSize($font-size, $icon-size) {
      input,
      textarea {
        font-size: $font-size;
      }
      .material-design-icon {
        height: $icon-size;
        width: $icon-size;
      }
    }

    &-sm {
      @include inputSize(0.75em, 1em);
    }

    &-md {
      @include inputSize(1em, 1.5em);
    }

    &-lg {
      @include inputSize(1.25em, 2em);
    }
  }

  // ---------- COLORS

  &--color {
    @mixin formColor($color) {
      input,
      textarea {
        color: $color;

        &:focus {
          border-color: $color;
        }

        @include placeholderColor(lighten($color, 20%));
      }

      * {
        color: $color;
      }
    }

    &-primary {
      @include formColor($color-primary);
    }

    &-tetriary {
      @include formColor($color-tetriary);
    }
  }

  // ---------- ERROR

  &--has-error {
    input,
    textarea {
      border: 1px solid $color-danger;
    }

    #{$this}__label,
    #{$this}__help {
      color: $color-danger;
    }
  }

  // ---------- ICON

  &--has-icon {
    input {
      padding-left: 3em;
    }
  }

  &--icon-right {
    input {
      padding-left: 1em;
      padding-right: 3em;
    }

    .material-design-icon {
      left: auto;
      right: 1em;
    }
  }
}
