// ------------------ DESIGN SYSTEM LAYOUT

.design-system {
  $design-system-padding: 2.5em;
  $design-system-navigation-width: 15em;
  height: 100%;

  // ------------------ NAVIGATION

  &__navigation {
    background: #fafbfd;
    bottom: 0;
    left: 0;
    padding: $design-system-padding;
    position: fixed;
    top: 0;
    width: $design-system-navigation-width;
    z-index: 1;

    .logo {
      margin-bottom: 2em;
      width: 150px;
      height: 20px;
      display: block;
      background: url("./assets/devchallenges-logo.svg") no-repeat center
        center/contain;
    }

    nav {
      margin-left: -1em;
      margin-right: -1em;

      a {
        color: #9e9e9e;
        display: block;
        font-weight: 500;
        padding: 1em;

        &:hover {
          color: darken(#9e9e9e, 15%);
        }

        &.router-link-exact-active {
          color: #090f31;
        }
      }
    }
  }

  // ------------------ CONTENT

  &__content {
    padding-left: $design-system-navigation-width;
    position: relative;

    article {
      padding: $design-system-padding;
    }

    header {
      margin-bottom: 3em;

      h1 {
        font-size: 1.5rem;
        margin-top: -0.5em;
      }
    }

    footer {
      color: #a9a9a9;
      font-size: 0.875rem;
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
}

// ------------------ DESIGN SYSTEM ELEMENT ROW

.design-system-element-row {
  border-bottom: 1px solid #ececec;
  margin-bottom: 2em;
  padding: 0 0 2em;

  &__description {
    font-size: 14px;
    max-width: 50em;

    strong {
      display: block;
      margin-bottom: 0.25em;
    }
  }

  &__content {
    display: flex;
    margin-top: 2em;

    > * + * {
      margin-left: 2em;
    }
  }
}

// ------------------ DESIGN SYSTEM ELEMENT

.design-system-element {
  .form-group {
    margin-bottom: 0;
  }

  &--fixed-width {
    width: 275px;
  }
}
