// ---- CODE

code {
  font-family: "Ubuntu Mono", monospace;
  background: #f3f4f4;
  font-size: 14px;
  padding: 0.25em 0.4em 0.3em;
  border-radius: 4px;
  color: #24292e;
}

// ---- LINK

a {
  text-decoration: none;
  font-weight: 500;
}
